
.footer {
    background: #F8F9FA;
    border-top: 1px solid #DCE5E2;
}

.footer__inner {
    display: flex;
    padding: 44px 73px 78px;
    gap: 28px;
    justify-content: space-between;
    align-items: start;
}

.footer__col:last-child {
    margin-right: 93px;
}

.footer__logo {
    margin-bottom: 18px;
    max-width: 20vw;
}

.footer__text {
    max-width: 304px;
    font-family: 'Inter';
    font-size: 1.2vw;
    line-height: 19.2px;
}

.footer__col-title {
    font-family: 'Readex Pro';
    font-size: 1.5vw;
    line-height: 27.5px;
    margin-bottom: 19px;
}


.footer__list-item {
    margin-bottom: 14px;
    font-family: 'Inter';
    font-size: 1.2vw;
    line-height: 21.6px;
}

.footer__line {
    display: flex;
    margin-left: 45px;
    width: 1350px;
    height: 1px;
    background: #DCE5E2;
    margin-bottom: 52px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
}

.madeBy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 73px;
}

.madeBy img {
    max-width: 2vw;
}

.madeBy p {
    font-family: 'Readex Pro';
    font-size: 1.5vw;
    line-height: 21.6px;
    margin-right: 5px;
}

.madeBy a {
    font-family: 'Inter';
    font-size: 1.5vw;
    line-height: 21.6px;
}


.poweredBy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 73px;
}

.poweredBy img {
    max-width: 2vw;
}


.poweredBy p {
    font-family: 'Readex Pro';
    font-size: 1.5vw;
    line-height: 21.6px;
    margin-right: 5px;
}

.poweredBy a {
    font-family: 'Inter';
    font-size: 1.5vw;
    line-height: 21.6px;
}
