
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.body {
    background-color: #FFFFFF;
    font-family: "Inter", "Readex Pro", sans-serif;
    color: #000000;

}

.body--opened-menu {
    overflow: hidden;
}



.title {
    font-family: 'Readex Pro';
    font-size: 2.5vw;
    line-height: 52.5px;
}

.text {
    font-family: 'Readex Pro';
    font-size: 13px;
    line-height: 16.8px;
}

